<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="utf-8" />
  <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body>

<!-- 결재 내용 -->
<div>
  <p>주문정보</p>
  <p>주문번호: <span th:text="${order.orderId}"></span></p>
  <p>주문내용: <span th:text="${order.description}"></span></p>
  <p>총 주문 금액: <span th:text="${order.orderTotAmount}"></span></p>
  <p>총 할인 금액: <span th:text="${order.discTotAmount}"></span></p>
  <p>최종 결제 금액: <span th:text="${order.paidTotAmount}"></span></p>
</div>

<!-- 할인 쿠폰 -->
<div>
  <input type="checkbox" id="coupon-box" />
  <label for="coupon-box"> 5,000원 쿠폰 적용 </label>
</div>
<!-- 결제 UI -->
<div id="payment-method"></div>
<!-- 이용약관 UI -->
<div id="agreement"></div>
<!-- 결제하기 버튼 -->
<button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>

<script>
  main();

  async function main() {
    const button = document.getElementById("payment-button");
    const coupon = document.getElementById("coupon-box");
    const amount = [[${order.paidTotAmount}]];

    // ------  결제위젯 초기화 ------
    const clientKey = `[[${@environment.getProperty('payment.toss.key.client')}]]`;
    const tossPayments = TossPayments(clientKey);
    // 회원 결제
    const customerKey = `[[${order.userId}]]`;
    const widgets = tossPayments.widgets({
      customerKey,
    });
    // 비회원 결제
    // const widgets = tossPayments.widgets({ customerKey: TossPayments.ANONYMOUS });

    // ------ 주문의 결제 금액 설정 ------
    await widgets.setAmount({
      currency: "KRW",
      value: amount,
    });

    await Promise.all([
      // ------  결제 UI 렌더링 ------
      widgets.renderPaymentMethods({
        selector: "#payment-method",
        variantKey: "DEFAULT",
      }),
      // ------  이용약관 UI 렌더링 ------
      widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),
    ]);

    // ------  주문서의 결제 금액이 변경되었을 경우 결제 금액 업데이트 ------
    coupon.addEventListener("change", async function () {
      if (coupon.checked) {
        await widgets.setAmount({
          currency: "KRW",
          value: amount - 5000,
        });

        return;
      }

      await widgets.setAmount({
        currency: "KRW",
        value: amount,
      });
    });

    // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
    button.addEventListener("click", async function () {
      await widgets.requestPayment({
        orderId: `[[${order.pgOrderId}]]`,
        orderName: `[[${order.description}]]`,
        successUrl: "http://localhost:8080/pay/success",
        failUrl: "http://localhost:8080/pay/fail",
        customerEmail: "customer123@gmail.com",
        customerName: `[[${order.userId}]]`,
        customerMobilePhone: "01012341234",
      });
    });
  }
</script>
</body>
</html>

